body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits, .action, .testimonials {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.benefits h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.benefits p, .testimonials p {
  font-size: 1em;
  line-height: 1.5;
}

.action a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
}

.action a:hover {
  background-color: #222;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
